*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    height: 100vh;
    background-image: url(./img/background-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 32px 96px 16px 96px;
    font-family: 'Inter', sans-serif;
}

header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
}

header a{
   color: #22FFFE; 
   font-size: 1.5rem; 
   border-bottom: 4px solid transparent;
}
header i.fas{
    display: none;
}

header a:hover{
    border-bottom: 4px solid #22FFFE;
}

header .logo-dc:hover{
    border-bottom: 4px solid transparent;
}

main{
    flex-grow: 1;
    display: flex;
}
.filme-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.descricao{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
.descricao button{
    display: none;
}

.descricao p{
    width: 530px;
    font-size: 1.5rem;
    color: #fff;
}

.trailers{
    height: 130px;
    display: flex;
    gap: 32px;
}

.social-container{
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 32px;
    color: #fff;
}

.social-container i:hover{
    color: #22FFFE;
}

footer{
    height: 50px;
    color: #fff;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TABLET */
@media (max-width:768px){
    body{
        padding: 32px 0px 0px 0px;
        background-image: url(./img/background-tablet.png);
    }
    .social-container{
        display: none;
    }
    .filme-container{
        align-items: center;
    }
    .descricao{
        padding: 60px;
        justify-content: flex-start;
        flex-grow: 0;
    }
    .descricao p{
        text-align: center;
    }
    .trailers{
        flex-direction: column;
    }
    .trailers img{
        width: 500px;
    }
    .trailers a:nth-child(3){
        display: none;
    }
    footer{
        display: none;
    }
}

/* MOBILE */
@media (max-width:480px){
    body{
        background-image: url(./img/background-mobile.png);
    }
    header{
        justify-content: space-between;
        padding: 0px 24px 0 24px;
        align-items: center;
    }
    header a{
        border-bottom: none;
        height: 48px;
    }
    header a:not(.logo-dc){
        display: none;
    }
    header i.fas{
        display: block;
        color: #D040ff;
        font-size: 32px;
    }
    .descricao{
        padding: 0;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;
        height: 100%;
        padding-bottom: 30px;
    }
    .descricao a{
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        width: 200px;
        height: 50px;
        background-color: #D040ff;
        border: 4px solid #22FFFE;
        color: #fff;
        font-size: 1.2rem;
        border-radius: 50px;
    }
    .descricao img{
        width: 95vw;
    }
    .descricao p{
        display: none;
    }
    .trailers{
        display: none;
    }
}